<main class="column-center vw90 pTop170">

    <app-panel-administracion class="flex-center w75"></app-panel-administracion>

    <section class="inicios column w50" [ngClass]="{active: accion === 'inicio'}">
        <button class="botonAnyadir mBottom20" (click)="accion = 'añadir'">Añadir</button>
        <article class="inicio row-center" *ngFor="let inicio of inicios | async">
                <p class="titulo">Inicio</p>
                <div class="row">
                    <button (click)="pasarModificar(inicio)">Modificar</button>
                    <button (click)="eliminarInicio(inicio)">Eliminar</button>
                </div>
        </article>
    </section>

    <section class="anyadir column w25" [ngClass]="{active: accion === 'añadir'}">
        <h3 class="titulo">Añadir un Inicio</h3>
        <p class="titulo">Titulo:</p>
        <input class="mBottom20" type="text" name="tituloInicio" #tituloInicio="ngModel" [(ngModel)]="inicioAcciones.titulo">
        <p class="titulo">Subtitulo:</p>
        <input class="mBottom20" type="text" name="subtituloInicio"  #subtituloInicio="ngModel" [(ngModel)]="inicioAcciones.subtitulo">
        <p class="titulo">Explicacion personal:</p>
        <input class="mBottom20" type="text" name="explicacionPersonalInicio"  #explicacionPersonalInicio="ngModel" [(ngModel)]="inicioAcciones.explicacionPersonal">
        <div class="botonera row-center">
            <button (click)="accion = 'inicio'">Cancelar</button>
            <button (click)="anyadirInicio()">Añadir</button>
        </div>
    </section>

    <section class="modificar column w25" [ngClass]="{active: accion === 'modificar'}">
        <p class="titulo">Titulo:</p>
        <input class="mBottom20" type="text" name="tituloInicio" #tituloInicio="ngModel" [(ngModel)]="inicioAcciones.titulo">
        <p class="titulo">Subtitulo:</p>
        <input class="mBottom20" type="text" name="subtituloInicio"  #subtituloInicio="ngModel" [(ngModel)]="inicioAcciones.subtitulo">
        <p class="titulo">Explicacion personal:</p>
        <input class="mBottom20" type="text" name="explicacionPersonalInicio"  #explicacionPersonalInicio="ngModel" [(ngModel)]="inicioAcciones.explicacionPersonal">
        <div class="botonera row-center">
            <button (click)="accion = 'inicio'">Cancelar</button>
            <button (click)="modificarInicio()">Modificar</button>
        </div>
    </section>
</main>