<main class="contacto flex-center vw100">
    <section class="contacto-contenedor column w50">
        <h1 class="titulo">Contacto</h1>
        <div class="row">
            <form class="formulario column w50">
                <p class="titulo">Nombre:</p>
                <input type="text" placeholder="Ramsés Moreno Rodríguez"/>
                <p class="titulo">Empresa:</p>
                <input type="text" placeholder="EncoderApe"/>
                <p class="titulo">Correo:</p>
                <input type="email" placeholder="Nombre@dominio.com"/>
                <p class="titulo">Explicacion:</p>
                <textarea placeholder="Nos gustaria tener una entrevista..."></textarea>
                <div class="politicas row">
                    <input class="checkbox" type="checkbox" />
                    <p class="texto w75">La información que proporciones unicamente se utilizara para hacerme llegar un correo que les hara ponerse en contacto conmigo.</p>
                </div>
                <button>ENVIAR</button>
            </form>
            <article class="texto w50">
                <p>¡Hola!</p>
                <p>Por favor rellena todos los datos, de esta manera yo sere capaz de dirigirme hacia ti de una forma acertada.
                    Este contacto me enviara un correo, asi podre ponerme en contacto contigo.
                </p>
            </article>
        </div>
    </section>
</main>