@import '../../../styles/index.scss';
.header {
    display: flex;
    justify-content: center;
    width: 100%;
    background-color: $components-light;
    

    &-contenedor {
        justify-content: space-between;
        width: 90%;

        .botonera {
            color:green;
        }

        .menu {

            &-items{
                list-style: none;
                padding: 0;
                width: 500px;

                .item {
                    margin: auto;
                }
            }
        }
    }
}