.header {
    display: flex;
    justify-content: center;
    width: 100%;
    

    &-contenedor {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        width: 90%;

        .botonera {
            color:green;
        }

        .menu {

            &-items{
                display: flex;
                flex-direction: row;
                list-style: none;
            }
        }
    }
}