@import '../../../styles/index.scss';
.header {
    width: 100%;
    height: 70px;
    background-color: $components-dark;
    

    &-contenedor {
        justify-content: space-between;
        width: 90%;

        .botonera {
            color:#0cb9ab;
        }

        .menu {
            &-items{
                list-style: none;
                padding: 0;
                width: 500px;
                height: 100%;

                .item {
                    margin: auto;
                    height: 100%;
                    color: #0cb9ab;
                    transition: 0.5s;
                    cursor: pointer;

                    &:hover {
                        transform: scale(1.2);
                    }
                }
            }
        }
    }
}