<nav class="header column-center between">
  <p class="logo">RMR</p>

  <div class="h25">
    <ul class="column-center around h100">
      <li><a routerLink="/inicio" >INICIO</a></li>
      <li><a routerLink="/proyectos" >PROYECTOS</a></li>
      <li><a routerLink="/sobreMi">SOBRE MI</a></li>
      <li><a routerLink="/contacto">CONTACTO</a></li>
    </ul>
  </div>

  <div class="row-wrap evenly w100 pb30">
    <a href="https://github.com/ramses797"><i class="fab fa-github footer-icono"></i></a>
    <a href="https://www.linkedin.com/in/rams%C3%A9s-moreno-rodr%C3%ADguez-265a451a0/"><i class="fab fa-linkedin footer-icono"></i></a>
    <a href="https://www.instagram.com/devramses/"><i class="fab fa-instagram footer-icono"></i></a>
  </div>
</nav>
