<nav class="header flex-center">
    <div class="header-contenedor column-center">
        <div class="logo">
            <p class="LOGO">RMR</p>
        </div>
        <div class="menu">
            <ul class="menu-items column">
                <li class="item row-center"><a class="link" routerLink="/inicio" >INICIO</a></li>
                <li class="item row-center"><a class="link"  routerLink="/proyectos" >PROYECTOS</a></li>
                <li class="item row-center"><a class="link" routerLink="/sobreMi">SOBRE MI</a></li>
                <li class="item row-center"><a class="link" routerLink="/contacto">CONTACTO</a></li>
            </ul>
        </div>
        <div class="footer row-center w100">
            <a href="https://github.com/ramses797"><i class="fab fa-github footer-icono"></i></a>
            <a href="https://www.linkedin.com/in/rams%C3%A9s-moreno-rodr%C3%ADguez-265a451a0/"><i class="fab fa-linkedin footer-icono"></i></a>
            <a href="https://www.instagram.com/devramses/"><i class="fab fa-instagram footer-icono"></i></a>
        </div>
    </div>
</nav>