<main class="inicio flex-center w100">
    <section class="inicio-contenedor column w50">
        <h1 class="titulo">¡Ramsés Moreno Rodríguez!</h1>
        <h2 class="subtitulo">Programador Frontend y Backend.</h2>
        <h3 class="texto">Soy un programador con muchas ganas de seguir aprendiendo.
            Busco una empresa que me sumerja en proyectos grandes que me hagan sentirme realizado.
            Me encataria aprender mas lenguajes como pueden ser Kotlin y Python. 
        </h3>
    </section>
</main>