.w25 {
  width: 25%;
}

.w50 {
  width: 50%;
}

.w75 {
  width: 75%;
}

.w100 {
  width: 100%;
}

.vw10 {
  width: 10vw;
}

.vw20 {
  width: 20vw;
}

.vw30 {
  width: 30vw;
}

.vw40 {
  width: 40vw;
}

.vw50 {
  width: 50vw;
}

.vw60 {
  width: 60vw;
}

.vw70 {
  width: 70vw;
}

.vw80 {
  width: 80vw;
}

.vw90 {
  width: 90vw;
}

.vw100 {
  width: 100vw;
}
