<main class="proyectos flex-center w100">
    <div class="proyectos-contenedor column w50">
        <h1 class="titulo">PROYECTOS</h1>
        <section class="contenedorProyectos row">
            <article class="proyecto column">
                <h2 class="titulo">Vacuno Mayor</h2>
                <h3 class="subtitulo">Grupo ICS Solutions</h3>
                <p class="texto">Prestashop</p>
            </article>
            <article class="proyecto column">
                <h2 class="titulo">UVA Valencia</h2>
                <h3 class="subtitulo">Grupo ICS Solutions</h3>
                <p class="texto">PHP, JavaScript</p>
            </article>
            <article class="proyecto column">
                <h2 class="titulo">Arrova Academia</h2>
                <h3 class="subtitulo">EncoderApe</h3>
                <p class="texto">MongoDB, Express, Node.js, Angular</p>
            </article>
        </section>
    </div>
</main>