.flex-center{
    display: flex;
    justify-content: center;
    align-items: center;
}

.row {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
}

.column {
    display: flex;
    flex-direction: column;
}

.row-center {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
}

.column-center {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.displayNone {
    display:none;
}

.fixed {
    position: fixed;
    z-index: 20;
}

.vw90 {
    min-width: 88vw;
}

.w25 {
    width: 25%;
}

.w50 {
    width: 50%;
}

.w75 {
    width: 75%;
}

.w100 {
    width: 100%;
}

.mBottom10 {
    margin-bottom: 10px;
}

.mBottom20 {
    margin-bottom: 20px;
}

.mBottom50 {
    margin-bottom: 50px;
}

ul {
    padding: 0;
}

li {
    list-style: none;
    cursor: pointer;
    transition: 0.5s;

    &:hover, &.active {
        transform: scale(1.2);
    }

    &.active {
        font-weight: 700;
    }
}

input {
    width: 90%;
    height: 22px;
    background-color: transparent;
    margin-top: 10px;
    border: none;
    border-bottom: 1px solid $subtitle-color;
    opacity: 0.5;
    color: $title-color;
    outline: none;
    cursor: text;
    transition: 0.5s;

    &:hover, &:focus {
        border-bottom: 1px solid $title-color;
    }

    &.invalid {
        color: $color-error;
        border-bottom: 1px solid $color-error;
    }
}


textarea {
    width: 90%;
    height: 90px;
    background-color: transparent;
    margin-top: 10px;
    border: none;
    border-bottom: 1px solid $subtitle-color;
    opacity: 0.5;
    color: $title-color;
    outline: none;
    transition: 0.5s;

    &:hover, &:focus {
        border-bottom: 1px solid $title-color;
    }

    &.invalid {
        color: $color-error;
        border-bottom: 1px solid $color-error;
    }
}


.checkbox {
    width: 22px;
    margin: 10px 30px;
    border: 50px solid $title-color;
    cursor: pointer;
    transition: 0s;

    &:checked {
        box-shadow: inset 0 0 0 10px white;
        background-color: $title-color;
    }
}

button {
    width: 100px;
    height: 40px;
    background-color: transparent;
    border: 1px solid $title-color;
    color: $title-color;
    cursor: pointer;
    outline: none;

    &.disabled {
        opacity: 0.3;
    }
}