@import './_variables.scss';

// TODO: FONT FAMILY VARIABLE
// TODO: REM
// TODO: REPASAR LOS FONT WEIGHT
h1 {
    font-family: Comfortaa;
    font-size: 30px;
    font-weight: 700;
}

h2 {
    font-family: Comfortaa;
    font-size: 25px;
    font-weight: 600;
}

h3 {
    font-family: Comfortaa;
    font-size: 20px;
    font-weight: 500;
}

p {
    font-family: Comfortaa;
    font-size: 15px;
    font-weight: 400;
}

small {
    font-family: Comfortaa;
}

a {
    font-family: Comfortaa;
    font-size: 15px;
    font-weight: 600;
    color: $title-color;
}

li {
    font-family: Comfortaa;
    color: $title-color;
}

span {
    font-family: Comfortaa;
    font-size: 12px;
    font-weight: 40px;
    visibility: hidden;

    &.error {
        color: $color-error;
        visibility: visible;
    }
}

// TODO: LOGO NAME
.LOGO {
    font-family: Rock Salt;
    font-size: 20px;
    color: $title-color;
    outline: none;
    cursor: pointer;
}

// TODO: REFACTORIZAR ESTO
.titulo {
    color: $title-color;
}

.subtitulo {
    color: $subtitle-color;
}

.texto{
    color: $text-color;
}

// TODO: REFACTORIZAR ESTO
::placeholder {
    font-family: Comfortaa;
    color: $subtitle-color;
}

input, textarea {
    font-family: Comfortaa;
}
