
// TODO: LOGO NAME
.LOGO {
    font-family: Rock Salt;
    font-size: 20px;
    color: $title-color;
    outline: none;
    cursor: pointer;
}

// TODO: REFACTORIZAR ESTO
.titulo {
    color: $title-color;
}

.subtitulo {
    color: $subtitle-color;
}

.texto{
    color: $text-color;
}
