@import './_variables.scss';

h1 {
    font-family: Comfortaa;
    font-size: 30px;
    font-weight: 700;
}

h2 {
    font-family: Comfortaa;
    font-size: 25px;
    font-weight: 600;
}

h3 {
    font-family: Comfortaa;
    font-size: 20px;
    font-weight: 500;
}

p {
    font-family: Comfortaa;
    font-size: 15px;
    font-weight: 400;
}

a {
    font-family: Comfortaa;
    font-size: 15px;
    font-weight: 600;
    color: $title-color;
}
.LOGO {
    font-family: Rock Salt;
    font-size: 20px;
    color: $title-color;
}

.titulo {
    color: $title-color;
}

.subtitulo {
    color: $subtitle-color;
}

.texto{
    color: $text-color;
}

::placeholder {
    font-family: Comfortaa;
    color: $subtitle-color;
}

input, textarea {
    font-family: Comfortaa;
}
