$background-light: #f5f5f5;
$background-dark: #606060;
$components-light: #FFFFFF;
$components-dark: #424242;

$title-color: #f5f5f5;
$subtitle-color: #878787;
$text-color: #a1a1a1;


$color-success: #6fc84d;
$color-error: #e8505b;
$color-info: #3282b8;
$color-warning: #fcf876;