<main class="column-center vw90 pTop170">

    <app-panel-administracion class="flex-center w75"></app-panel-administracion>

    <section class="inicios column w50" [ngClass]="{active: accion === 'inicios'}">
        <button class="botonAnyadir mBottom20" (click)="accion = 'añadir'">Añadir</button>
        <article class="inicio row-center JCBetween" *ngFor="let proyecto of proyectos | async">
                <p class="titulo">{{proyecto.nombreProyecto}}</p>
                <div class="row">
                    <button (click)="pasarModificar(proyecto)">Modificar</button>
                    <button (click)="eliminarProyecto(proyecto)">Eliminar</button>
                </div>
        </article>
    </section>

    <section class="anyadir column w25" [ngClass]="{active: accion === 'añadir'}">
        <h3 class="titulo">Añadir un Inicio</h3>
        <p class="titulo">Titulo:</p>
        <input class="mBottom20" type="text" name="nombreProyecto" #nombreProyecto="ngModel" [(ngModel)]="proyecto.nombreProyecto">
        <p class="titulo">Subtitulo:</p>
        <input class="mBottom20" type="text" name="empresaProyecto"  #empresaProyecto="ngModel" [(ngModel)]="proyecto.empresa">
        <p class="titulo">Explicacion personal:</p>
        <input class="mBottom20" type="text" name="tecnologiasProyecto"  #tecnologiasProyecto="ngModel" [(ngModel)]="proyecto.tecnologias">
        <div class="botonera row-center">
            <button (click)="accion = 'inicios'">Cancelar</button>
            <button (click)="anyadirProyecto()">Añadir</button>
        </div>
    </section>

    <section class="modificar column w25" [ngClass]="{active: accion === 'modificar'}">
        <p class="titulo">Titulo:</p>
        <input class="mBottom20" type="text" name="nombreProyecto" #nombreProyecto="ngModel" [(ngModel)]="proyecto.nombreProyecto">
        <p class="titulo">Subtitulo:</p>
        <input class="mBottom20" type="text" name="empresaProyecto"  #empresaProyecto="ngModel" [(ngModel)]="proyecto.empresa">
        <p class="titulo">Explicacion personal:</p>
        <input class="mBottom20" type="text" name="tecnologiasProyecto"  #tecnologiasProyecto="ngModel" [(ngModel)]="proyecto.tecnologias">
        <div class="botonera row-center">
            <button (click)="accion = 'inicios'">Cancelar</button>
            <button (click)="modificarProyecto()">Modificar</button>
        </div>
    </section>
</main>