@import "./assets/fontawesome/css/all.css";
@import 'src/app/styles';

body {
    margin: 0;
    background-image: url('./assets/img/fondo10.jpg');
    background-attachment: fixed;
}

// TODO: TODOS ESTOS ESTILOS SOBRAN
.site{
    display: flex;
    flex-direction: row;
}

p {
    margin: 0;
}

ul {
    margin: 0;
}
