<main class="panel flex-center vw90">
    <section class="column-center w75">
        <ul class="menu row-center mBottom50 w100">
            <li (click)="recogerDatos('inicio')">INICIO</li>
            <li (click)="recogerDatos('proyectos')">PROYECTOS</li>
            <li (click)="recogerDatos('estudios')">ESTUDIOS</li>
            <li (click)="recogerDatos('trabajos')">TRABAJOS</li>
            <li (click)="recogerDatos('cursos')">CURSOS</li>
            <li (click)="recogerDatos('contactos')">CONTACTOS</li>
        </ul>

        <section class="column w50">
            <button class="añadir mBottom50" *ngIf="eleccionTipo != 'contactos'" (click)="eleccionTipo = eleccionTipo+'Añadir'">AÑADIR</button>

            <div *ngIf="eleccionTipo == 'inicioAñadir' || eleccionTipo == 'proyectosAñadir' || eleccionTipo == 'estudiosAñadir' || eleccionTipo == 'trabajosAñadir' || eleccionTipo == 'cursosAñadir'">
                <article class="añadirDatos column" [ngClass]="{active: eleccionTipo == 'inicioAñadir'}">
                    <p class="titulo">Titulo:</p>
                    <input class="mBottom20" type="text" name="tituloInicio" #tituloInicio="ngModel" [(ngModel)]="inicio.titulo"/>
                    <p class="titulo">Subtitulo:</p>
                    <input class="mBottom20" type="text" name="subtituloInicio" #subtituloInicio="ngModel" [(ngModel)]="inicio.subtitulo"/>
                    <p class="titulo">Texto:</p>
                    <textarea class="mBottom20" name="explicacionPersonal" #explicacionPersonal="ngModel" [(ngModel)]="inicio.explicacionPersonal"></textarea>
                </article>

                <article class="añadirDatos column" [ngClass]="{active: eleccionTipo == 'proyectosAñadir'}">
                    <p class="titulo">Nombre Proyecto:</p>
                    <input class="mBottom20" type="text" name="nombreProyecto" #nombreProyecto="ngModel" [(ngModel)]="proyecto.nombreProyecto"/>
                    <p class="titulo">Empresa:</p>
                    <input class="mBottom20" type="text" name="empresaProyectos" #empresaProyectos="ngModel" [(ngModel)]="proyecto.empresa"/>
                    <p class="titulo">Tecnologias del proyecto:</p>
                    <textarea class="mBottom20" name="tecnologiasProyectos" #tecnologiasProyectos="ngModel" [(ngModel)]="proyecto.tecnologias"></textarea>
                </article>

                <article class="añadirDatos column" [ngClass]="{active: eleccionTipo == 'estudiosAñadir'}">
                    <p class="titulo">Fecha de inicio:</p>
                    <input class="mBottom20" type="text" name="fechaInicioEstudios" #fechaInicioEstudios="ngModel" [(ngModel)]="estudio.fechaInicio"/>
                    <p class="titulo">fecha de fin:</p>
                    <input class="mBottom20" type="text" name="fechaFinEstudios" #fechaFinEstudios="ngModel" [(ngModel)]="estudio.fechaFin"/>
                    <p class="titulo">Localizacion:</p>
                    <input class="mBottom20" name="localizacionEstudios" #localizacionEstudios="ngModel" [(ngModel)]="estudio.localizacion"/>
                    <p class="titulo">Centro:</p>
                    <input class="mBottom20" name="centro" #centro="ngModel" [(ngModel)]="estudio.centro"/>
                    <p class="titulo">Titulo:</p>
                    <input class="mBottom20" name="tituloEstudios" #tituloEstudios="ngModel" [(ngModel)]="estudio.titulo"/>
                    <p class="titulo">Aprendizaje:</p>
                    <textarea class="mBottom20" name="aprendizajeEstudios" #aprendizajeEstudios="ngModel" [(ngModel)]="estudio.aprendizaje"></textarea>
                </article>

                <article class="añadirDatos column" [ngClass]="{active: eleccionTipo == 'trabajosAñadir'}">
                    <p class="titulo">Fecha de inicio:</p>
                    <input class="mBottom20" type="text" name="fechaInicioTrabajos" #fechaInicioTrabajos="ngModel" [(ngModel)]="trabajo.fechaInicio"/>
                    <p class="titulo">fecha de fin:</p>
                    <input class="mBottom20" type="text" name="fechaFinTrabajos" #fechaFinTrabajos="ngModel" [(ngModel)]="trabajo.fechaFin"/>
                    <p class="titulo">Localizacion:</p>
                    <input class="mBottom20" name="localizacionTrabajos" #localizacionTrabajos="ngModel" [(ngModel)]="trabajo.localizacion"/>
                    <p class="titulo">Institucion:</p>
                    <input class="mBottom20" name="institucion" #institucion="ngModel" [(ngModel)]="trabajo.institucion"/>
                    <p class="titulo">Puesto:</p>
                    <input class="mBottom20" name="puesto" #puesto="ngModel" [(ngModel)]="trabajo.puesto"/>
                    <p class="titulo">Tareas:</p>
                    <textarea class="mBottom20" name="tareas" #tareas="ngModel" [(ngModel)]="trabajo.tareas"></textarea>
                </article>

                <article class="añadirDatos column" [ngClass]="{active: eleccionTipo == 'cursosAñadir'}">
                    <p class="titulo">Titulo curso:</p>
                    <input class="mBottom20" type="text" name="tituloCursos" #tituloCursos="ngModel" [(ngModel)]="curso.titulo"/>
                    <p class="titulo">Aprendizaje:</p>
                    <input class="mBottom20" type="text" name="aprendizajeCursos" #aprendizajeCursos="ngModel" [(ngModel)]="curso.aprendizaje"/>
                </article>
                <button (click)="insertarDatos()">INSERTAR</button>
            </div>
            <div class="inicio" [ngClass]="{active: eleccionTipo == 'inicio'}">
                <article class="column mBottom10" *ngFor="let inicio of inicios | async">
                    <div class="item row-center mBottom20">
                        <p class="titulo">Inicio</p>
                        <div class="row-center">
                            <button  *ngIf="eleccionModificar != inicio.titulo+'Modificar'" (click)="eleccionModificar = inicio.titulo+'Modificar'">Modificar</button>
                            <button>Eliminar</button>
                        </div>
                    </div>
                    <div class="modificar column mBottom50" [ngClass]="{active: eleccionModificar == inicio.titulo+'Modificar'}">
                        <p class="titulo">Titulo:</p>
                        <input class="mBottom20" type="text" value="{{inicio.titulo}}" name="tituloInicio" #tituloInicio="ngModel" [(ngModel)]="inicio.titulo"/>
                        <p class="titulo">Subtitulo</p>
                        <input class="mBottom20" type="text" value="{{inicio.subtitulo}}" name="subtituloInicio" #subtituloInicio="ngModel" [(ngModel)]="inicio.subtitulo">
                        <p class="titulo">Explicacion Personal:</p>
                        <textarea class="mBottom20" value="{{inicio.explicacionPersonal}}" name="explicacionInicio" #explicacionInicio="ngModel" [(ngModel)]="inicio.explicacionPersonal"></textarea>
                        <div class="row-center">
                            <button class="botonCancelar" (click)="eleccionModificar = ''">Cancelar</button>
                            <button (click)="modificarDatos(inicio)">Modificar</button>
                        </div>
                    </div>
                </article>
            </div>

            <div class="proyectos" [ngClass]="{active: eleccionTipo == 'proyectos'}">
                <article class="column mBottom10" *ngFor="let proyecto of proyectos | async">
                    <div class="item row-center mBottom20">
                        <p class="titulo">{{proyecto.nombreProyecto}}</p>
                        <div>
                            <button *ngIf="eleccionModificar != 'proyectoModificar'" (click)="eleccionModificar = 'proyectoModificar'">Modificar</button>
                            <button (click)="eliminarProyecto(proyecto)">Eliminar</button>
                        </div>
                    </div>
                    <div class="modificar column mBottom50" [ngClass]="{active: eleccionModificar == 'proyectoModificar'}">
                        <p class="titulo">Nombre proyecto:</p>
                        <input class="mBottom20" type="text" value="{{proyecto.nombreProyecto}}" name="nombreProyecto" #nombreProyecto="ngModel" [(ngModel)]="proyecto.nombreProyecto">
                        <p class="titulo">Empresa:</p>
                        <input class="mBottom20" type="text" value="{{proyecto.empresa}}" name="empresaProyecto" #empresaProyecto="ngModel" [(ngModel)]="proyecto.empresa">
                        <p class="titulo">Tecnologias:</p>
                        <input class="mBottom20" type="text" value="{{proyecto.tecnoogias}}" name="tecnologiasProyecto"  #tecnologiasProyecto="ngModel" [(ngModel)]="proyecto.tecnologias">
                        <div class="row-center">
                            <button class="botonCancelar" (click)="eleccionModificar = ''">Cancelar</button>
                            <button (click)="modificarDatos(proyecto)">Modificar</button>
                        </div>
                    </div>
                </article>
            </div>

            <div class="estudios" [ngClass]="{active: eleccionTipo == 'estudios'}">
                <article class="column mBottom10" *ngFor="let estudio of estudios | async">
                    <div class="item row-center mBottom20">
                        <p class="titulo">{{estudio.titulo}}</p>
                        <div class="row-center">
                            <button *ngIf="eleccionModificar != estudio.titulo+'Modificar'" (click)="eleccionModificar = 'estudioModificar'">Modificar</button>
                            <button>Eliminar</button>
                        </div>
                    </div>
                    <div class="modificar column mBottom50" [ngClass]="{active: eleccionModificar == 'estudioModificar'}">
                        <p class="titulo">Fecha de inicio:</p>
                        <input class="mBottom20" type="text" value="{{estudio.fechaInicio}}" name="fechaInicioEstudio" #fechaInicioEstudio="ngModel" [(ngModel)]="estudio.fechaInicio"/>
                        <p class="titulo">Fecha de fin:</p>
                        <input class="mBottom20" type="text" value="{{estudio.fechaFin}}" name="fechaFinEstudio" #fechaFinEstudio="ngModel" [(ngModel)]="estudio.fechaFin"/>
                        <p class="titulo">Localizacion:</p>
                        <input class="mBottom20" type="text" value="{{estudio.localizacion}}" name="localizacinEstudio" #localizacionEstudio="ngModel" [(ngModel)]="estudio.localizacion"/>
                        <p class="titulo">Centro:</p>
                        <input class="mBottom20" type="text" value="{{estudio.centro}}" name="centroEstudio" #centroEstudio="ngModel" [(ngModel)]="estudio.centro"/>
                        <p class="titulo">Titulo:</p>
                        <input class="mBottom20" type="text" value="{{estudio.titulo}}" name="tituloEstudio" #tituloEstudio="ngModel" [(ngModel)]="estudio.titulo"/>
                        <p class="titulo">Aprendizaje:</p>
                        <textarea class="mBottom20" name="aprendizajeEstudio" #aprendizajeEstudio="ngModel" [(ngModel)]="estudio.aprendizaje">{{estudio.aprendizaje}}</textarea>
                        <div class="row-center">
                            <button class="botonCancelar" (click)="eleccionModificar = ''">Cancelar</button>
                            <button (click)="modificarDatos(estudio)">Modificar</button>
                    </div>
                    </div>
                </article>
            </div>

            <div class="trabajos" [ngClass]="{active: eleccionTipo == 'trabajos'}">
                <article class="column mBottom10" *ngFor="let trabajo of trabajos | async">
                    <div class="item row-center mBottom20">
                        <p class="titulo">{{trabajo.puesto}}</p>
                        <div class="row-center">
                            <button *ngIf="eleccionModificar != trabajo.puesto+'Modificar'" (click)="eleccionModificar = trabajo.puesto+'Modificar'">Modificar</button>
                            <button>Eliminar</button>
                        </div>
                    </div>
                    <div class="modificar column mBottom50" [ngClass]="{active: eleccionModificar == trabajo.puesto+'Modificar'}">
                        <p class="titulo">Fecha de inicio:</p>
                        <input class="mBottom20" type="text" value="{{trabajo.fechaInicio}}" name="fechaInicioTrabajo" #fechaInicioTrabajo="ngModel" [(ngModel)]="trabajo.fechaInicio"/>
                        <p class="titulo">Fecha de fin:</p>
                        <input class="mBottom20" type="text" value="{{trabajo.fechaFin}}" name="fechaFinTrabajo" #fechaFinTrabajo="ngModel" [(ngModel)]="trabajo.fechaFin"/>
                        <p class="titulo">Localizacion:</p>
                        <input class="mBottom20" type="text" value="{{trabajo.localizacion}}" name="localizacionTrabajo" #localizacionTrabajo="ngModel" [(ngModel)]="trabajo.localizacion"/>
                        <p class="titulo">Institucion:</p>
                        <input class="mBottom20" type="text" value="{{trabajo.institucion}}" name="intitucionTrabajo" #institucionTrabajo="ngModel" [(ngModel)]="trabajo.institucion"/> 
                        <p class="titulo">Puesto:</p>
                        <input class="mBottom20" type="text" value="{{trabajo.puesto}}" name="puestoTrabajo" #puestoTrabajo="ngModel" [(ngModel)]="trabajo.puesto"/>
                        <p class="titulo">Tareas:</p>
                        <textarea class="mBottom20" value="{{trabajo.tareas}}" name="tareasTrabajo" #tareasTrabajo="ngModel" [(ngModel)]="trabajo.tareas"></textarea>
                        <div class="row-center">
                            <button class="botonCancelar" (click)="eleccionModificar = ''">Cancelar</button>
                            <button (click)="modificarDatos(trabajo)">Modificar</button>
                        </div>
                    </div>
                </article>
            </div>

            <div class="cursos" [ngClass]="{active: eleccionTipo == 'cursos'}">
                <article class="column mBottom10" *ngFor="let curso of cursos | async">
                    <div class="item row-center mBottom20">
                        <p class="titulo">{{curso.titulo}}</p>
                        <div class="row-center">
                            <button *ngIf="eleccionModificar != curso.titulo+'Modificar'" (click)="eleccionModificar = curso.titulo+'Modificar'">Modificar</button>
                            <button>Eliminar</button>
                        </div>
                    </div>
                    <div class="modificar column mBottom50" [ngClass]="{active: eleccionModificar == curso.titulo+'Modificar'}">
                        <p class="titulo">Titulo del curso:</p>
                        <input class="mBottom20" type="text" name="tituloCurso" #tituloCurso="ngModel" [(ngModel)]="curso.titulo"/>
                        <p class="titulo">Aprendizaje:</p>
                        <textarea class="mBottom20" value="curso.aprendizaje" name="aprendizajeCurso" #aprendizajeCurso="ngModel" [(ngModel)]="curso.aprendizaje"></textarea>
                        <div class="row-center">
                            <button class="botonCancelar" (click)="eleccionModificar = ''">Cancelar</button>
                            <button (click)="modificarDatos(curso)">Modificar</button>
                        </div>
                    </div>
                </article>
            </div>

            <div class="contactos" [ngClass]="{active: eleccionTipo == 'contactos'}">
                <article class="column mBottom10" *ngFor="let contacto of contactos | async">
                    <div class="item row-center mBottom20">
                        <p class="titulo">{{contacto.empresa}}</p>
                        <div class="row-center">
                            <button *ngIf="eleccionModificar != contacto.empresa+'Leer'" (click)="eleccionModificar = contacto.empresa+'Leer'">Leer</button>
                            <button>Eliminar</button>
                        </div>
                    </div>
                    <div class="leer" [ngClass]="{active: eleccionModificar == contacto.empresa+'Leer'}">
                        <p class="titulo">{{contacto.nombre}}</p>
                        <p class="titulo">{{contacto.empresa}}</p>
                        <p class="titulo">{{contacto.correo}}</p>
                        <p class="titulo">{{contacto.explicacion}}</p>
                        <div class="row-center">
                            <button class="botonCancelar" (click)="eleccionModificar = ''">Cancelar</button>
                        </div>
                    </div>
                </article>
            </div>
        </section>
    </section>
</main>