<section class="w75">
    <ul class="menu row-center mBottom50 w100">
        <li routerLink="/panelAdministracionInicio">INICIO</li>
        <li routerLink="/panelAdministracionProyectos">PROYECTOS</li>
        <li routerLink="/panelAdministracionEstudios">ESTUDIOS</li>
        <li routerLink="/panelAdministracionTrabajos">TRABAJOS</li>
        <li routerLink="/panelAdministracionCursos">CURSOS</li>
        <li routerLink="/panelAdministracionContacto">CONTACTOS</li>
        <li (click)="salir()"><i class="fas fa-sign-out-alt"></i></li>
    </ul>
</section>